/* Basic styling */
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 20px;
}
nav, footer{
  background: #222;
  padding: 0 15px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 50px;
  padding: 5vh 0;
}
h2 {
  font-size: 30px;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.padding {
  padding: 4%;
}
.paddingX {
  padding: 0 4%;
}
.paddingTop{
  padding-top: 2%;
}
.centerText {
  text-align: center;
}
.justifyText {
  text-align: justify;
}
.justifyRightText {
  text-align: right; 
}
.menu,
.submenu {
  list-style-type: none;
  padding: unset;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item a:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
  h1 {
    font-size: 80px;
    padding: 5vh 0;
  }
  h2 {
    font-size: 60px;
  }
  .flex {
    justify-content: space-between!important;
  }
  section {
    min-height: 100vh;
  }
  #servicesSection > .flex {
    display: flex!important;
  }
}
.hero {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(103, 101, 101, 0.5)), 
                    url("https://img.freepik.com/foto-gratis/jugadores-voleibol-teniendo-partido_23-2149492354.jpg?w=900&t=st=1687109579~exp=1687110179~hmac=c3a6e3760b1f8cd93c904e9efbad8675c87c8773af9a72d11eddd323793a1d45");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 90vh!important;
  align-items: flex-start;
}
.brandLogo {
  width: 200px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
  justify-content: center;
  align-items: center;
}
#servicesSection > .flex {
  display: block;
}
.flexItem {
  flex-basis: 20%; 
}
.flexItem30 {
  flex-basis: 30%; 
}
.flexItem50 {
  flex-basis: 50%; 
}
.gridText {
  font-size: 70px;
}
.icon {
    font-size: xxx-large;
    padding: 2vh;
    color: #f44336;
}
.fullHeight {
  height: 85vh;
}
.gridImage {
  width: 100%;
  height: auto;
}
.gridImage:hover {
  background-color: rgba(103, 101, 101, 0.5);
  opacity: 0.5;
}
.gridImageContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vmax, 1fr));
  gap: 32px;
  width: -webkit-fill-available;
  align-items: center;
}
.button {
  background-color: #f44336; 
  color: white; 
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: large;
}
.button:hover {
  background-color: #b42d24;
  color: white;
}
#registerSection, #infoSection {
  background-color: gray;
}